[Unit]
Description=Accton AS7326-56X Platform Monitoring service
Before=opennsl-modules-3.16.0-5-amd64.service
Wants=opennsl-modules-3.16.0-5-amd64.service
DefaultDependencies=no

[Service]
ExecStartPre=/usr/local/bin/accton_as7326_util.py install
ExecStart=/usr/local/bin/accton_as7326_monitor.py
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
